# Игнорировать папку .vscode со всем её содержимым
.vscode/

# Игнорировать папку output со всем её содержимым
output/

# Игнорировать файлы с расширением .pyc (скомпилированный Python)
*.pyc

# Игнорировать папку __pycache__ (кеш Python)
__pycache__/

# (Опционально) Игнорировать виртуальное окружение Python, если оно есть
venv/
.env/